extends _layout.pug

block vars
  - var title = 'Henrike Legner – Biografie'
  - var mainClass = 'wide'

block content
  h1 Biografie
  a(href="/bio" title="English Version" class="flag"): img(src="./images/gb.png" alt="" width=36 height=36)
  .row.right
    .grow.bio(style="line-height:1.6" lang="de")
      :markdown-it
        Henrike Legner ist eine deutsche Sopranistin und lebt in München, wo sie in der Gesangsklasse von KS Prof. **Christiane Iven** an der **Hochschule für Musik und Theater München** studiert. Henrike absolvierte die ersten drei Jahre ihres Bachelorstudiums in London. Nach einem Erasmus-Austausch blieb sie in Padua, Italien, und schloss ihr Studium mit Auszeichnung ab. Sie nahm an Meisterkursen unter anderem bei KS Brigitte Fassbaender, Emma Kirkby, KS Angelika Kirchschlager teil.

        Als Solistin trat sie mit Orchestern wie dem Niederrheinischen Kammerorchester, dem Ensemble des WDR Funkhausorchesters und den Burgate Singers and Sinfonia auf. Zu ihrem Konzertrepertoire gehören unter anderem Exsultate jubilate (Mozart), Jauchzet Gott in allen Landen (Bach), Johannespassion (Bach), Weihnachtsoratorium (Bach), Matthäuspassion (Bach), Messiah (Händel), Gloria (Händel) und Die Schöpfung (Haydn).

        Ihr Interesse gilt auch besonders dem Kunstlied. Eine enge Zusammenarbeit verbindet Henrike mit dem Pianisten **Gerold Huber**, und sie gaben zuletzt Liederabende im Richard-Strauss-Institut in Garmisch-Partenkirchen, in der Allerheiligen-Hofkirche in München und in der Herzogsburg Dingolfing. Im Oktober 2024 nahmen sie gemeinsam eine CD mit Liedern von Mendelssohn auf.

        Seit 2021 wirkte sie in verschiedenen Produktionen der Theaterakademie August Everding mit, darunter „Ariodante“ von Händel (Ginevra), „Die Gänsemagd“ von Iris ter Schiphorst (Kammerjungfrau), „Il Giasone“ von Cavalli (Sole und Alinde) sowie „Achill unter den Mädchen“ von Schultz (Nerea), gemeinsam mit dem Münchner Rundfunkorchester im Prinzregententheater. Januar 2025 sang sie beim Neujahrskonzert des HSO München die Gretel in „Hänsel und Gretel“ von Humperdinck unter der Leitung des Dirigenten Marcus Bosch.

        Henrike wurde von der Stiftung arteMusica gefördert und hegt eine große Leidenschaft für Ballett, Modern und Jazz Dance. Beim **Wettbewerb für neue Konzertformate XPLORE** wurde ihr innovatives Konzertkonzept „MetrOstinato“ als Preisträger für das Finale im Mai 2024 ausgewählt.

        April 2025 wird Henrike in London zwei Liederabende mit dem Pianisten James Cheung gestalten (mit Werken von Grieg, Strauss und Mozart).

    div
      div(style="position: sticky; top: 90px")
        img(src="./images/bio.jpg" width=280)
        p.caption Photo by Adrienne Meister. Please do not use this text for concert programs, and #[a(href="mailto:henrike@legner.com") get in touch] for a shorter biography.
