extends _layout.pug

block vars
  - var title = 'Henrike Legner – Biografie'
  - var mainClass = 'wide'

block content
  h1 Biografie
  a(href="/bio" title="English Version" class="flag"): img(src="./images/gb.png" alt="" width=36 height=36)
  .row.right
    .grow.bio(style="line-height:1.6" lang="de")
      :markdown-it
        Henrike Legner ist eine deutsche Sopranistin und lebt in München, wo sie in der Gesangsklasse von KS Prof. **Christiane Iven** an der **Hochschule für Musik und Theater München** und zuvor an der **Theaterakademie August Everding** studiert.

        Die ersten drei Jahre ihres Bachelorstudiums absolvierte Henrike am Trinity Laban Conservatoire of Music and Dance in London und gewann 2016 den Collingwood Finalist Prize beim Kathleen Ferrier Society Bursary für junge Sängerinnen und Sänger. Nach einem Erasmus-Austausch blieb sie in Padua, Italien, und schloss 2019 ihr Studium am Conservatorio di Musica Cesare Pollini mit Auszeichnung ab.

        Seit 2021 hat Henrike in folgenden Produktionen der Theaterakademie mitgewirkt: „Ariodante“ von Händel (Ginevra), „Die Gänsemagd“ von Iris ter Shiphorst (Die Kammerjungfrau) und „Il Giasone“ von Cavalli (Sole und Alinde). Im März 2023 war sie in der Rolle der Nerea in „Achill unter den Mädchen“ von Wolfgang-Andreas Schultz mit dem **Münchner Rundfunkorchester** im Prinzregententheater zu erleben.

        Darüber hinaus nahm sie an Meisterkursen u.a. bei Emma Kirkby, KS Angelika Kirchschlager, KS Brigitte Fassbaender und Joan Patenaude-Yarnell teil.

        Als Solistin tritt Henrike u.a mit Orchestern wie dem Ensemble des WDR Funkhausorchester, Kammerorchester Stringendo, Philharmonisches Orchester Isartal, Niederrheinisches Kammerorchester auf. Zu ihrem Konzertrepertoire gehören u.a Exsultate jubilate (Mozart), Jauchzet Gott in allen Landen (Bach), Johannespassion (Bach), Weihnachtsoratorium (Bach), Matthäuspassion (Bach), Nulla in mundo pax sincera (Vivaldi), Messiah (Händel), Gloria (Händel), Schöpfung (Haydn).

        Henrikes Interesse gilt auch dem Kunstlied. Wichtige Inspirationen erhielt sie hierfür bei der Udo Reinemann International Masterclass for Duos am La Monnaie in Brüssel.
        Eine enge Zusammenarbeit verbindet Henrike mit dem Pianisten **Gerold Huber** und sie
        gaben zuletzt Liederabende im Richard Strauss Institut in Garmisch-Partenkirchen, in der Allerheiligen Hofkirche München und in der Herzogsburg Dingolfing.

        Henrike wurde von der Stiftung arteMusica und der Richard-Wagner-Stipendienstiftung München gefördert.
        Eine große Leidenschaft hegt Henrike für Ballett, Modern Dance und Jazz. Sie spricht außerdem fließend Deutsch, Englisch und Italienisch. Beim **Wettbewerb für neue Konzertformate XPLORE**, wurde ihr Konzertkonzept „MetrOstinato“ als Preisträger für das Finale im Mai 2024 ausgewählt.

        Kommenden Oktober wird sie mit Gerold Huber eine CD mit Liedern von Mendelssohn aufnehmen.

    div
      div(style="position: sticky; top: 90px")
        img(src="./images/bio.jpg" width=280)
        p.caption Photo by Adrienne Meister. Please do not use this text for concert programs, and #[a(href="mailto:henrike@legner.com") get in touch] for a shorter biography.
