extends _layout.pug

block vars
  - var title = 'Henrike Legner – Biography'
  - var mainClass = 'wide'

block content
  h1 Biography
  a(href="/bio" title="German Version" class="flag"): img(src="./images/de.png" alt="" width=36 height=36)
  .row.right
    .grow.bio(style="line-height:1.6")
      :markdown-it
        The soprano Henrike Legner has been described by the *Süddeutsche Zeitung* as a “revelation for the Baroque repertoire.”

        This recognition reflects her special interest in concert repertoire, which includes not only the great oratorios, cantatas, and masses (by Bach, Handel, Haydn, and Mozart) but also classical art song.

        The young singer maintains a close collaboration with pianist Gerold Huber. Together, they have given song recitals (including performances at the Richard Strauss Institute in Garmisch-Partenkirchen and the Allerheiligen Hofkirche in Munich) and recorded a CD in 2024 featuring partially unknown songs by Felix Mendelssohn.

        In 2025, she made her London debut with pianist James Cheung.

        As a soloist, she has performed with various orchestras, including the ensemble of the WDR-Funkhausorchester, the Kammerorchester Oberhaching, Philharmonisches Orchester Isartal, the Niederrheinisches Kammerorchester and the Münchner Rundfunkorchester.

        Henrike Legner completed her Bachelor of Arts in London and Padua. Since 2021, she has been studying at the Bayerische Theaterakademie August Everding and the University of Music and Performing Arts Munich in the vocal class of Christiane Iven.

        At the Theaterakademie, she has performed as a soloist in *Ariodante* by Handel, *Die Gänsemagd* by Iris ter Shiphorst, *Il Giasone* by Cavalli, and *Achill unter den Mädchen* by Wolfgang-Andreas Schultz. In January 2025, she sang the role of Gretel in *Hänsel und Gretel* by Humperdinck with the HSO Munich under the direction of Marcus Bosch.

        She has supplemented her studies with masterclasses led by Brigitte Fassbaender, Emma Kirkby, Angelika Kirchschlager, and Joan Patenaude-Yarnell.

        In addition to classical singing, Henrike Legner has a passion for jazz, modern dance, and ballet and is interested in interdisciplinary performance formats. At the 2024 XPLORE competition for new concert formats, her concert concept *MetrOstinato* was awarded and selected for the finals.

        Henrike Legner has been supported by the arteMusica Foundation.

    div
      div(style="position: sticky; top: 90px")
        img(src="./images/bio.jpg" width=280)
        p.caption Photo by Adrienne Meister. Please do not use this text for concert programs, and #[a(href="mailto:henrike@legner.com") get in touch] for a shorter biography.
