extends _layout.jade

block vars
  - var title = 'Henrike Legner • Biography'

block content

  h1 Biography

  .row.right

    .grow.bio
      p Henrike, a German Soprano, is currently in her third year at Trinity Laban Conservatoire in London, studying under Sophie Grimmer. Since November 2017, she is participating in an Erasmus exchange with the Conservatorio di Musica Cesare Pollini in Padova, where she studies with Cosetta Tosetti.  

      p Recently, Henrike performed Drusilla in Monteverdi’s #[em “L'Incoronazione di Poppea”] with the Trinity Laban Opera, conducted by Nicholas Kraemer and directed by Harry Fehr. In 2016 she won the Collingwood Finalist Prize at the Kathleen Ferrier Society Bursary for young singers. In July 2017, she took part in Scuola di Belcanto with Matthew Rose (ROH, Met), David Syrus (ROH), Joan Patenaude-Yarnell (Curtis Institute of Music) and Louisa Muller (Met). There, she worked on Italian operatic repertoire, including a performance of #[em “Così fan tutte”] Act 1 Finale (Despina).

      p Since early childhood, Henrike played the violin and the piano, which she is now studying as her second study. At the age of 8, Henrike joined the children’s choir at the Deutsche Oper am Rhein in Düsseldorf. During the next years, she took part in several operas including #[em “Hänsel and Gretel”] (Humperdinck), #[em “Louise”] (Charpentier), #[em “The Cunning Little Vixen”] (Janacek), “Boris Godunow” (Mussorgski). She also was the lead in Peter Maxwell Davies’ opera #[em “Cinderella”].  

      p She started taking singing lessons with Dorothee Wohlgemuth when she was 12, and over the next few years she won multiple 1st and 2nd prizes in the national final of “Jugend Musiziert”. Other performances included Bastienne in #[em “Bastien und Bastienne”] (Mozart), the Sailor in #[em “Dido and Aeneas”] (Purcell) and Soprano Arias from Handel’s #[em “Messiah”] with the Niederrheinisches Kammerorchester.  

      p In 2013, Henrike received a Music Scholarship from Shrewsbury School. There, she was the Solo Soprano in Handel’s #[em “Messiah”], #[em “Nulla in mundo pax sincera”] (Vivaldi), #[em “Laudate Dominum”] from Mozart’s Vesperae Solennes, #[em “Missa Longa”] (Mozart) and Susanna in #[em “Le Nozze di Figaro”] (Mozart). At the age of 17, she also performed Bach’s #[em “Jauchzet Gott in allen Landen”] in Wigmore Hall.  

      p In Summer 2015, Henrike was selected for the masterclass with Emma Kirkby at the Dartington International Summer School.  

      p As a soloist Henrike performed several Lunchtime Recitals at the Old Royal Naval Chapel (selection of arias with harp and piano and solo piano). With the Burgate Singers and Sinfonia, she was soloist in Mozart’s #[em “Exsultate Jubilate”], Poulenc’s #[em “Gloria”], Haydn’s #[em “Nelson Mass”] and Szymanovski’s #[em “Stabat Mater”]. With the Shrewsbury School Community Choir she was soloist in Bach’s #[em “St John Passion”] and Handel’s #[em “Messiah”].  

      p Other recent engagements as solo soprano include works by Praetorius with the Bach Ensemble Niederrhein, and Bach’s #[em “Cantata BWV 35”] and Telemann’s #[em “Magnificat”] with the Concerto Orchestra Camerata Accademia, conducted by Paolo Faldi.  

      p In the past two years, Henrike was a Choral Scholar at the Old Royal Naval College Chapel Choir with Ralph Allwood and a member of the Trinity Laban Chamber Choir with Stephen Jackson, where she performed many solos.  

      p Upcoming engagements include the Chorus (one to a part) in #[em “Orfeo e Euridice”] (Gluck) with the New Generations Festival Company in Firenze, Milan and Monaco, as well as Operatic Arias with the Orchestra of the Conservatorio di Musica Cesare Pollini.

    div(style="max-width: 320px")
      img.hero.left(src="/images/bio.jpg" style="margin-bottom: 1em")

      p: em Please do not use this text for concert programs. For a shorter biography, please #[a(href="mailto:henrike@legner.com") get in touch].
