extends _layout.pug

block vars
  - var title = 'Henrike Legner – Biography'
  - var mainClass = 'wide'

block content
  h1 Biography
  .row.right
    .grow.bio(style="line-height:1.6")
      :markdown-it
        Henrike Legner is a German Soprano based in Munich, Germany, where she studies at the **Bavarian Theatre Academy August Everding** with KS Professor **Christiane Iven**.

        Since 2021, Henrike has performed *Ginevra* (Ariodante, Handel), *Die Kammerjungfrau* (Die Gänsemagd, Iris ter Shiphorst) and *Sole* and *Alinde* (Il Giasone, Cavalli) at the Theaterakademie. In 2023, she will sing *Nerea* (Achill unter den Mädchen, Wolfgang-Andreas Schultz) with the **Münchner Rundfunkorchester** at the Prinzregententheater, München.

        Henrike has performed as a soloist with orchestras like the *Niederrheinische Kammerorchester*, an ensemble from the *WDR Funkhausorchester*, *Burgate Singers and Sinfonia* and the *Shrewsbury School String Orchestra*. Her concert repertoire includes *Exsultate jubilate* (Mozart), *Jauchzet Gott in allen Landen* (Bach), *Messiah* (Handel), *St John Passion* (Bach), *Nulla in mundo pax sincera* (Vivaldi) and *Stabat mater* (Szymanowski).

        Another important part of Henrike’s repertoire is Lied. She took part in the *Udo Reinemann International Masterclass for Duos* at the La Monnaie, Brussels, and is currently coached by **Gerold Huber**.

        Henrike’s studies have been supported by the arteMusica foundation and the Richard Wagner Scholarship Foundation Munich (2023). She sang in masterclasses with Emma Kirkby, KS Angelika Kirchschlager, KS Brigitte Fassbaender, Joan Patenaude-Yarnell and others.

        As a child, Henrike played piano and violin and sang in the children’s choir of the Deutsche Oper am Rhein.

        She completed the first three years of her Bachelor’s degree at the Trinity Laban Conservatoire of Music and Dance in London, and won the 2016 Collingwood Finalist Prize at the Kathleen Ferrier Society Bursary for young singers. After an Erasmus exchange, she stayed in Padova, Italy and graduated with distinction from the Conservatorio di Musica Cesare Pollini in 2019.

        Henrike is fluent in German, English and Italian. Her other interests include ballet and modern dance.

    div
      div(style="position: sticky; top: 90px")
        img(src="./images/bio.jpg" width=280)
        p.caption Photo by Adrienne Meister. Please do not use this text for concert programs, and #[a(href="mailto:henrike@legner.com") get in touch] for a shorter biography.
