extends _layout.jade

block vars
  - var title = 'Henrike Legner • Biography'

block content

  h1 Biography

  .row
    div(style="max-width: 320px")
      img.hero.left(src="/images/bio.jpg")

    .grow
      p Henrike is a German soprano, currently in her second year at Trinity Laban Conservatoire of Music and Dance studying with Sophie Grimmer. She is a Choral Scholar at the Old Royal Naval College Chapel Choir directed by Ralph Allwood MBE.

      p In October 2016, she won the #[em Collingwood Finalist Prize] at the #[em Kathleen Ferrier Society Bursary for Young Singers]. 

      p Henrike began playing the violin at the age of 4. Two years later she also started taking piano lessons, which she is still playing as second study, under Hilary Coates. When she was 8, Henrike joined the children’s choir of the “Deutsche Oper am Rhein” in Düsseldorf, where she had the opportunity to perform in operas including #[em Hänsel und Gretel] (Humperdinck), #[em Louise] (Charpentier), #[em The Cunning Little Vixen] (Janacek), #[em Boris Godunow] (Mussorgski), as well as the lead in Peter Maxwell Davies’ #[em Cinderella].

      p In secondary school, Henrike started taking singing lessons with Dorothee Wohlgemuth. Over the next few years, she won first and second prizes in the national final of “Jugend Musiziert” in the categories “Solo Soprano” and “Baroque ensemble”. Other performances included Bastienne in #[em Bastien und Bastienne] (Mozart) and soprano arias from Handel’s #[em Messiah] with the Niederrheinisches Kammerorchester.

      p In 2013, Henrike received a Music Scholarship from Shrewsbury School. She sang solo soprano in #[em Messiah] (Handel) with the Shrewsbury Community Choir, #[em Jauchzet Gott in allen Landen] (Bach) at Wigmore Hall, #[em Nulla in mundo pax sincera] (Vivaldi), #[em Laudate Dominum] (Vesperae Solennes, Mozart), #[em Missa Longa] (Mozart) and Susanna in #[em Le Nozze di Figaro] (Mozart).

      p In Summer 2015 Henrike was selected for the masterclass with Emma Kirkby at #[em Dartington International Summer School] and in Summer 2016 she attended the #[em Aberystwyth MusicFest Vocal Course]. 

      p Recent performances have included two Lunchtime Recitals at the Old Royal Naval Chapel in Greenwich, the soprano solo in “A Bird is singing” by Judith Bingham, performed at the British Composer Awards with the Trinity Laban Chamber Choir. She also was the soprano soloist for Mozart’s #[em Exsultate jubilate] and Poulenc’s #[em Gloria] with the Burgate Singers and Sinfonia and Orff’s #[em Carmina Burana] with the Eltham Choral Society.
