extends _layout.jade

block vars
  - var title = 'Henrike Legner • Biography'

block content

  h1 Biography

  .row
    div(style="max-width: 320px")
      img.hero.left(src="/images/bio.jpg")

    .grow
      p Henrike is a German soprano, currently in her third year at Trinity Laban Conservatoire of Music and Dance studying with Sophie Grimmer. She was a Choral Scholar at the Old Royal Naval College Chapel Choir directed by Ralph Allwood MBE.

      p In July 2017, she took part in the Scuola di Belcanto Summer Course under Matthew Rose, in which she performed Despina in the Act 1 Finale of Mozart’s “Cosi fan tutte”, conducted by David Syrus and directed by Louisa Muller.

      p In July 2017 she performed Drusilla in “L’Incoronazione di Poppea“ (Monteverdi) with the Trinity Laban Opera, conducted by Nicholas Kraemer and directed by Harry Fehr.

      p In October 2016, she won the #[em Collingwood Finalist Prize] at the Kathleen Ferrier Society Bursary for Young Singers, accompanied by Ashley Beauchamp. During her first years at Trinity Laban performances included two Lunchtime Recitals at the Old Royal Naval Chapel (Selection of arias and duets with harp and piano, solo piano) and several choir solos including the Soprano Solo in “A Bird is singing” by Judith Bingham, performed at the British Composer Awards with the Trinity Laban Chamber Choir. She also was the soprano soloist for Mozart’s “Exsultate jubilate”, Poulenc’s “Gloria “, Haydn’s “Nelson Mass” and Szymanovski“s “Stabat Mater“ with the Burgate Singers and Sinfonia, "Carmina Burana“ with the Eltham Choral Society and "St John Passion" with the Shrewsbury School Community Choir.

      p In October 2017, she also performed as a soloist choral music by Praetorius with the Bach Ensemble Niederrhein, conducted by Uwe Schulze.

      p At the age of 4 Henrike began playing the violin and two years later she started taking piano lessons which she is now studying with Hilary Coates (2nd study). At the age of 8 Henrike joined the children’s choir at the “Deutsche Oper am Rhein” in Düsseldorf. During the next years, she took part in several operas including #[em Hänsel and Gretel] (Humperdinck), #[em Louise] (Charpentier), #[em The Cunning Little Vixen] (Janacek), #[em Boris Godunow] (Mussorgski) and also got the chance to perform the lead role in Peter Maxwell Davies’ opera “Cinderella”.

      p She started taking singing lessons with Dorothee Wohlgemuth in secondary school and over the next few years she won 1st and 2nd prizes in the national final of “Jugend Musiziert” in the categories “Solo Soprano” and “Baroque ensemble”. Other performances included Bastienne in #[em Bastien und Bastienne] (Mozart), the Sailor in #[em Dido and Aeneas] (Purcell) and Soprano Arias from Handel’s Messiah with the Niederrheinisches Kammerorchester.

      p In 2013 she received a Music Scholarship from Shrewsbury School which gave her opportunities to perform in many different venues, including singing the Solo Soprano in #[em Messiah] (Handel) with the Shrewsbury School Community Choir, #[em Jauchzet Gott in allen Landen] (Bach) at Wigmore Hall, #[em Nulla in mundo pax sincera] (Vivaldi), #[em Laudate Dominum] (Vesperae Solennes, Mozart), #[em Missa Longa] (Mozart), and Susanna in #[em Le Nozze di Figaro] (Mozart).

      p In Summer 2017 Henrike took part in the #[em Lingua del Canto Summer Course] with Ubaldo Fabbri in Novafeltria, Italy. In Summer 2015 Henrike was selected for the masterclass with Emma Kirkby at the Dartington International Summer School. 

      p From October 2017 until March 2018, Henrike will study in Padua, Italy, as part of an Erasmus exchange.
