extends _layout.jade

block vars
  - var title = 'Henrike Legner • Biography'

block content

  h1 Biography

  .row
    div(style="max-width: 320px")
      img.hero.left(src="/images/bio.jpg")

    .grow
      p Henrike is a German soprano, currently in her second year at Trinity Laban Conservatoire of Music and Dance studying with Sophie Grimmer. She is a Choral Scholar at the Old Royal Naval College Chapel Choir directed by Ralph Allwood MBE.

      p In October 2016 she won the #[em Collingwood Finalist Prize] at the #[em Kathleen Ferrier Society Bursary] for Young Singers, accompanied by Ashley Beauchamp. During her first years at Trinity Laban performances included two Lunchtime Recitals at the Old Royal Naval Chapel (Selection of arias and duets with harp and piano, solo piano) and several choir solos including the Soprano Solo in “A Bird is singing” by Judith Bingham, performed at the British Composer Awards with the Trinity Laban Chamber Choir. She also was the soprano soloist for Mozart’s “Exsultate jubilate“ and Poulenc’s “Gloria“ with the Burgate Singers and Sinfonia, "Carmina Burana“ with the Eltham Choral Society and "St John Passion" with the Shrewsbury School Community Choir.


      p During her first years at Trinity Laban performances included two Lunchtime Recitals at the Old Royal Naval Chapel (Selection of arias and duets with harp and piano, solo piano) and several choir solos including the Soprano Solo in #[em “A Bird is singing”] by Judith Bingham, performed at the British Composer Awards with the Trinity Laban Chamber Choir. She also was the soprano soloist for Mozart’s #[em “Exsultate jubilate“] and Poulenc’s #[em “Gloria“] with the Burgate Singers and Sinfonia, #[em “Carmina Burana“] with the Eltham Choral Society, and the #[em “St John Passion“] with the Shrewsbury School Community Choir.

      p Future performances will include Drusilla in #[em “L’Incoronazione di Poppea“] (Monteverdi) with the Trinity Laban Opera, and the Soprano Solo in the #[em “Nelson Mass“] (Haydn) and #[em “Stabat Mater“] (Szymanovski) with the Burgate Singers and Sinfonia.

      p At the age of 4 Henrike began playing the violin and two years later she started taking piano lessons which she is now studying with Hilary Coates (2nd study). At the age of 8 Henrike joined the children’s choir at the #[em “Deutsche Oper am Rhein”] in Düsseldorf. During the next years she took part in several operas including #[em Hansel and Gretel] (Humperdinck), #[em Louise] (Charpentier), #[em The Cunning Little Vixen] (Janacek), #[em Boris Godunow] (Mussorgski) and also got the chance to perform the lead role in Peter Maxwell Davies’ opera #[em “Cinderella”].

      p She started taking singing lessons with Dorothee Wohlgemuth in secondary school and over the next few years she won 1st and 2nd prizes in the national final of #[em “Jugend Musiziert”] in the categories “Solo Soprano” and “Baroque ensemble”. Other performances included Bastienne in #[em Bastien und Bastienne] (Mozart), the Sailor in #[em Dido and Aeneas] (Purcell) and Soprano Arias from Handel’s #[em Messiah] with the Niederrheinisches Kammerorchester.

      p In 2013 she got a Music Scholarship from Shrewsbury School which gave her many opportunities to perform in several venues including singing the Solo Soprano in #[em Messiah] (Handel) with the Shrewsbury School Community Choir, #[em Jauchzet Gott in allen Landen] (Bach) at Wigmore Hall, #[em Nulla in mundo pax sincera] (Vivaldi), #[em Laudate Dominum] (Vesperae Solennes, Mozart), #[em Missa Longa] (Mozart), Susanna in #[em Le Nozze di Figaro] (Mozart).

      p In Summer 2015 Henrike was selected for the masterclass with Emma Kirkby at the #[em Dartington International Summer School]. For Summer 2017 Henrike has also been accepted onto the #[em Scuola di Belcanto Summer Course], with tutors such as Matthew Rose, as well as the #[em Lingua del Canto Summer Course] with Ubaldo Fabbri. From October 2017, Henrike will study in Padua, Italy, as part of an Erasmus exchange.
