extends _layout.jade

block vars
  - var title = 'Henrike Legner • Biography'

block content

  h1 Biography

  .row.right

    .grow.bio
      p Henrike is a 23 year old soprano, who is studying at the Theaterakademie August Everding in Munich under the tutelage of Prof. Christiane Iven. She completed the first three years of her undergraduate degree at the Trinity Laban Conservatoire of Music and Dance in London. After an Erasmus exchange, she stayed in Padova, Italy to complete her Bachelor degree with distinction in July 2019 at the Conservatorio di Musica Cesare Pollini with Cosetta Tosetti. Since 2020, Henrike is generously supported by the arteMusica foundation.

      p Since early childhood, Henrike has played the violin and the piano. At the age of 8, she joined the children’s choir at the “Deutsche Oper am Rhein” in Düsseldorf, and when she was 12, she started taking singing lessons with Dorothee Wohlgemuth.

      p During the next few years, she won multiple 1st and 2nd prizes in the national final of “Jugend Musiziert”. Other performances included Bastienne in “Bastien und Bastienne” (Mozart) and Cinderella in “Cinderella” (Peter Maxwell Davies).

      p In 2013, Henrike received a Music Scholarship from Shrewsbury School, where she was the Solo Soprano in “Messiah” (Handel), “Nulla in mundo pax sincera” (Vivaldi), “Vesperae Solennes” (Mozart), Susanna in “Le Nozze di Figaro” (Mozart) and at the age of 17 “Jauchzet Gott in allen Landen” (Bach) in Wigmore Hall.

      p In the first years of her undergraduate degree, Henrike performed several lunchtime recitals at the Old Royal Naval Chapel in Greenwich. With the Burgate Singers and Sinfonia, she was the soloist in “Exsultate Jubilate” (Mozart), “Gloria” (Poulenc), “Nelson Mass” (Haydn) and “Stabat Mater” (Szymanowski). With the Shrewsbury School Community Choir, she was the soloist in “St John Passion” (Bach).

      p In 2016 she won the Collingwood Finalist Prize at the Kathleen Ferrier Society Bursary for young singers, and in 2017, Henrike sang Drusilla in “L’Incoronazione di Poppea” (Monteverdi) with the Trinity Laban Opera.

      p Other engagements include Chorus (one to a part) in “Orfeo e Euridice” (Gluck) with the New Generations Festival Company in Firenze, Milan and Piemonte.

      p During the last years, Henrike took part in many masterclasses: among others with Emma Kirkby, KS Angelika Kirchschlager, KS Brigitte Fassbaender, Joan Patenaude-Yarnell and Edith Mathis.

      p In 2018 Henrike started a Lied-Duo with the pianist Sofia Andreoli in Padova. They took part in the Udo Reinemann International Masterclass for Duos under the direction of Christianne Stotijn at the La Monnaie in Brussels.

      p During her time at Trinity Laban, Henrike was a Choral Scholar at the Old Royal Naval College Chapel Choir with Ralph Allwood where she performed many solos.

      p Other interests include dance (ballet and contemporary), for which Henrike started training more intensely over the last years under the tutelage of Giulia Giacon (Simply Dance Padova) and took part in the Progetto Danza Treviso Summer Intensive 2021.

      h2 Deutsche Version

      p Henrike Legner ist eine 23-jährige Sopranistin aus Deutschland und studiert an der Theaterakademie August Everding in München unter der Leitung von Prof. Christiane Iven. Sie absolvierte die ersten drei Jahre ihres Bachelorstudiums am Trinity Laban Conservatoire of Music and Dance in London. Nach einem Erasmus Austausch blieb sie in Padua und beendete ihren Bachelor mit Außzeichnung am Conservatorio di Musica Cesare Pollini unter Cosetta Tosetti. Seit Januar 2020 wird sie großzügig von der Stiftung für Kunst und Kultur arteMusica gefördert.

      p Bereits seit frühester Kindheit spielt Henrike Violine und Klavier und war Mitglied des Kinderchores der Deutschen Oper am Rhein in Düsseldorf. Mit zwölf Jahren nahm sie Gesangsunterricht bei Dorothee Wohlgemuth und gewann mehrere erste und zweite Preise beim Bundeswettbewerb „Jugend Musiziert”. 2013 erhielt sie ein Stipendium für das Internat Shrewsbury School in England, wo sie im Alter von siebzehn Jahren „Jauchzet Gott in Allen Landen” (J. S. Bach) in der Wigmore Hall, London sang.

      p 2016 gewann sie den Collingwood Finalist Prize beim Kathleen Ferrier Society Bursary für junge Sänger und 2017 sang sie die Rolle der Drusilla in „L’Incoronazione di Poppea” (Monteverdi) mit der Trinity Laban Opera, unter der Leitung von Nicholas Kraemer und Harry Fehr.

      p Als Solistin sang Henrike unter anderem in Konzerten in der Old Royal Naval Chapel (London), mit den Burgate Singers and Sinfonia (London), mit dem Shrewsbury School Community Choir (Shrewsbury) und beim New Generations Festival (Florenz) mit dem Repertoire: “Messiah” (Handel), “Nulla in mundo pax sincera” (Vivaldi), “Vesperae Solennes” (Mozart), Susanna in “Le Nozze di Figaro” (Mozart), “Exsultate Jubilate” (Mozart), “Gloria” (Poulenc), “Nelson Mass” (Haydn), “Stabat Mater” (Szymanowski) und “St John Passion” (Bach).

      p Meisterkurse besuchte sie u.a. bei Emma Kirkby, KS Angelika Kirchschlager, KS Brigitte Fassbaender, Joan Patenaude-Yarnell und Edith Mathis.

      p 2018 gründete Henrike ein Lied-Duo mit der Pianistin Sofia Andreoli und nahm an der Udo Reinemann International Masterclass für Duos in Brüssel unter der Leitung von Christianne Stotijn teilnehmen.

      p Des Weiteren interessiert sich Henrike sehr für Tanz (Ballett und Contemporary) und trainiert regelmäßig unter der Leitung von Giulia Giacon (Simply Dance Padova). Im Sommer 2021 nahm sie an dem Summer Intensive Progetto Danza Treviso teil.

    div(style="max-width: 320px")
      div(style="position: -webkit-sticky; position: sticky; top: 110px")
        img.hero.left(src="/images/bio.jpg" style="margin-bottom: 1em")
        p: em Please do not use this text for concert programs. For a shorter biography, please #[a(href="mailto:henrike@legner.com") get in touch].
