extends _layout.pug

block vars
  - var title = 'Henrike Legner – Biography'
  - var mainClass = 'wide'

block content
  h1 Biography
  a(href="/bio-de" title="German Version" class="flag"): img(src="./images/de.png" alt="" width=36 height=36)
  .row.right
    .grow.bio(style="line-height:1.6")
      :markdown-it
        Henrike Legner is a German soprano living in Munich, where she studies at the **Theaterakademie August Everding** and in the vocal class of KS Prof. **Christiane Iven**.

        Since 2021 Henrike has performed in the following productions of the Theaterakademie: “Ariodante” by Händel (*Ginevra*), “Die Gänsemagd” by Iris ter Shiphorst (*Die Kammerjungfrau*) and “Il Giasone” by Cavalli (*Sole and Alinde*).

        Henrike completed the first three years of her undergraduate studies at Trinity Laban Conservatoire of Music and Dance in London, and in 2016 won the Collingwood Finalist Prize at the Kathleen Ferrier Society Bursary for Young Singers. After an Erasmus exchange, she stayed in Padua, Italy, and graduated with distinction from the Conservatorio di Musica Cesare Pollini in 2019. She also participated in masterclasses with Emma Kirkby, KS Angelika Kirchschlager, KS Brigitte Fassbaender and Joan Patenaude-Yarnel, among others.

        Henrike has been generously supported by the **arteMusica Foundation** and the **Richard Wagner Scholarship Foundation** Munich (2023). Her other interests include ballet and modern dance. She is also fluent in German, English and Italian.

        As a soloist, Henrike has performed with orchestras such as the Niederrheinisches Kammerorchester, Ensemble des WDR Funkhausorchesters, Burgate Singers and Sinfonia, and others. Her concert repertoire includes *Exsultate jubilate* (Mozart), *Jauchzet Gott in allen Landen* (Bach), *Messiah* (Handel), *St. John Passion* (Bach), *Nulla in mundo pax sincera* (Vivaldi), *Gloria* (Handel) and *Stabat mater* (Szymanowski).

        Henrike is also interested in art song. For this she received important inspiration at the *Udo Reinemann International Masterclass for Duos* at La Monnaie in Brussels.

        In March 2023, she will perform the role of *Nerea* in “Achill unter den Mädchen” by Wolfgang-Andreas Schultz with the **Münchner Rundfunkorchester** at the Prinzregententheater in Munich. In June she will give a song recital with works by Strauss, Debussy, Schubert and Mendelssohn at the Herzogsburg in Dingolfing with the pianist **Gerold Huber**.

    div
      div(style="position: sticky; top: 90px")
        img(src="./images/bio.jpg" width=280)
        p.caption Photo by Adrienne Meister. Please do not use this text for concert programs, and #[a(href="mailto:henrike@legner.com") get in touch] for a shorter biography.
