extends _layout.pug

block vars
  - var title = 'Henrike Legner – Biografie'
  - var mainClass = 'wide'

block content
  h1 Biografie
  a(href="/bio-en" title="English Version" class="flag"): img(src="./images/gb.png" alt="" width=36 height=36)
  .row.right
    .grow.bio(style="line-height:1.6" lang="de")
      :markdown-it
        Die Sopranistin Henrike Legner ist laut der Süddeutschen Zeitung eine **„Verheißung für das Barockfach“**. Diese Auszeichnung spiegelt ihr besonderes Interesse am Konzertrepertoire wider, das sowohl die großen Oratorien, Kantaten und Messen (von Bach, Händel, Haydn und Mozart) als auch das klassische Kunstlied umfasst.

        Die junge Sängerin verbindet eine enge Zusammenarbeit mit dem Pianisten **Gerold Huber**. Gemeinsam mit ihm gab sie Liederabende (u.a. am Richard-Strauss-Institut in Garmisch-Partenkirchen und in der Allerheiligen Hofkirche in München), und im Oktober 2025 erschien ihre erste CD mit Liedern von Felix Mendelssohn bei bei **GENUIN classics**. Im April debütierte sie mit dem Pianisten James Cheung mit einem Liederabend in London.

        Als Solistin konzertierte sie bereits mit verschiedenen Orchestern, darunter das Ensemble des WDR-Funkhausorchester, das Kammerorchester Oberhaching, Philharmonisches Orchester Isartal, das Niederrheinisches Kammerorchester und das Münchener Rundfunkorchester.

        Henrike Legner absolvierte ihren Bachelor of Arts in London und in Padua. Seit 2021 studiert sie in München an der Bayerischen Theaterakademie August Everding und an der Hochschule für Musik und Theater München in der Gesangsklasse von **Christiane Iven**. Ihr Studium ergänzt sie durch Unterricht bei Brigitte Fassbaender.

        An der Theaterakademie hat Henrike Legner als Solistin mitgewirkt in „Ariodante“ von Händel, „Die Gänsemagd“ von Iris ter Shiphorst, „Il Giasone“ von Cavalli, „Achill unter den Mädchen“ von Wolfgang-Andreas Schultz. Im Januar 2025 sang sie mit dem Hochschulsinfonieorchester die Gretel in „Hänsel und Gretel“ von Humperdinck unter der Leitung von Marcus Bosch.

        Neben dem klassischen Gesang hegt Henrike Legner auch eine Leidenschaft für Jazz, Modern Dance und Ballett und interessiert sich für interdisziplinäre Aufführungsformate. Beim Wettbewerb für neue Konzertformate XPLORE 2024, wurde ihr Konzertkonzept „MetrOstinato“ ausgezeichnet und für das Finale ausgewählt.

        Henrike Legner wurde von der Stiftung arteMusica gefördert.

    div
      div(style="position: sticky; top: 90px")
        img(src="./images/bio.jpg" width=280)
        p.caption Photo by Adrienne Meister. Please do not use this text for concert programs, and #[a(href="mailto:henrike@legner.com") get in touch] for a shorter biography.
