extends _layout.pug

block vars
  - var title = 'Henrike Legner – Biography'
  - var mainClass = 'wide'

block content
  h1 Biography
  a(href="/bio-de" title="German Version" class="flag"): img(src="./images/de.png" alt="" width=36 height=36)
  .row.right
    .grow.bio(style="line-height:1.6")
      :markdown-it
        Henrike Legner is a German soprano living in Munich, where she studies at the **Theaterakademie August Everding** and in the vocal class of KS Prof. **Christiane Iven**.

        Since 2021, Henrike has performed *Ginevra* (Ariodante, Handel), *Die Kammerjungfrau* (Die Gänsemagd, Iris ter Shiphorst) *Sole* and *Alinde* (Il Giasone, Cavalli) at the Theaterakademie. In 2023, she sang *Nerea* (Achill unter den Mädchen, Wolfgang-Andreas Schultz) with the **Münchner Rundfunkorchester** at the Prinzregententheater, München.

        Henrike completed the first three years of her undergraduate studies at Trinity Laban Conservatoire of Music and Dance in London, and in 2016 won the Collingwood Finalist Prize at the Kathleen Ferrier Society Bursary for Young Singers. After an Erasmus exchange, she stayed in Padua, Italy, and graduated with distinction from the Conservatorio di Musica Cesare Pollini in 2019.

        She also participated in masterclasses with Emma Kirkby, KS Angelika Kirchschlager, KS Brigitte Fassbaender and Joan Patenaude-Yarnel and others.

        Henrike has a great passion for ballet, modern dance and jazz. She is fluent in German, English and Italian. At the XPLORE competition for new concert formats, her concept “MetrOstinato” was selected as a prize winner for the final in May 2024 and nominated as a representative of the HMTM for the D-bü competition 2024.

        As a soloist, Henrike has performed with orchestras such as the Niederrheinisches Kammerorchester, Ensemble des WDR Funkhausorchesters, Burgate Singers and Sinfonia and others. Her concert repertoire includes Exsultate jubilate (Mozart), Jauchzet Gott in allen Landen (Bach), Messiah (Handel), St. John Passion (Bach), Gloria (Handel).

        Henrike is also interested in art song and for this received important inspiration at the Udo Reinemann International Masterclass for Duos at La Monnaie in Brussels. In November 2023, she gave a song recital with baritone Jonas Müller and pianist **Gerold Huber** at the Richard Strauss Institute in Garmisch-Partenkirchen.

        In March 2024, she will give a song recital (with works by Strauss, Schubert and Mendelssohn) at the Herzogsburg in Dingolfing with pianist Gerold Huber.

        Henrike has been generously supported by the **arteMusica Foundation** and the **Richard Wagner Scholarship Foundation** in Munich.

    div
      div(style="position: sticky; top: 90px")
        img(src="./images/bio.jpg" width=280)
        p.caption Photo by Adrienne Meister. Please do not use this text for concert programs, and #[a(href="mailto:henrike@legner.com") get in touch] for a shorter biography.
