extends _layout.jade

block vars
  - var title = 'Henrike Legner • Biography'

block content
  h1 Calendar

  h2 Upcoming Events
  
  .row.event
    div(style="width: 160px"): img(src="/images/shrewsbury-abbey.jpg" width=160 height=160)
    .grow
      h3 St John Passion, #[em Bach]
      p.meta 22 April 2017, Shrewsbury Abbey
      p John Moore, #[em Conductor]#[br]Henrike Legner, #[em Solo Soprano]#[br]Shrewsbury Community Choir

  .row.event
    div(style="width: 160px"): img(src="/images/eye.jpg" width=160 height=160)
    .grow
      h3 Burgate Singers Spring Concert
      p.meta 13 May 2017, 7.30pm, Eye Town Hall
      p Symphony of Psalms (Igor Stravinsky)#[br]Nelson Mass (Josef Haydn)#[br]Alexander Nevsky (Sergey Prokofiev)
      p Alain Judd, #[em Conductor]#[br]Henrike Legner, #[em Solo Soprano]#[br]Burgate Singers and Sinfonia

  .row.event
    div(style="width: 160px"): img(src="/images/blackheath.jpg" width=160 height=160)
    .grow
      h3 L’Incoronazione di Poppea, #[em Monteverdi]
      p.meta 5, 6, 7 and 8 July 2017, Blackheath Halls
      p Trinity Laban Opera#[br]Nicholas Kraemer, #[em Conductor]#[br]Harry Fehr, #[em Director]#[br]Henrike Legner, #[em Drusilla]


  h2 Past Events

  .row.event
    div(style="width: 160px"): img(src="/images/eye.jpg" width=160 height=160)
    .grow
      h3 Burgate Singers Christmas Concert
      p.meta xxx
      p xxx

  .row.event
    div(style="width: 160px"): img(src="/images/kathleen-ferrier.jpg" width=160 height=160)
    .grow
      h3 Kathleen Ferrier Bursary for Young Singers
      p.meta 30th October 2016, Blackburn
      p Finalist

  .row.event
    div(style="width: 160px"): img(src="/images/ornc.jpg" width=160 height=160)
    .grow
      h3 Lunchtime Recital
      p.meta 16th Ocotber 2016, Old Royal Naval Chapel, Greenwich
      p xxx
  
  .row.event
    div(style="width: 160px"): img(src="/images/x.jpg" width=160 height=160)
    .grow
      h3 Carmina Burana, #[em Orff]
      p.meta 8 October 2016
      p Elthan Choral Society#[br]Max Barley, #[em Musical Directoy]#[br]Solo Soprano, #[em Henrike Legner]#[em]Royal Greenwich and Blackheath Halls Youth Choir

  .row.event
    div(style="width: 160px"): img(src="/images/aberystwyth.jpg" width=160 height=160)
    .grow
      h3 MusicFest Aberystwyth Summer School
      p.meta Summer 2016
      p One week summer course with tutors including Ron Morris, Gordon Stewart, Liza Hobbs, Veronica Veysey Campbell

  .row.event
    div(style="width: 160px"): img(src="/images/ron-morris.jpg" width=160 height=160)
    .grow
      h3 Masterclass with Ron Morris
      p.meta March 2016, Trinity Laban Conservatoire

  .row.event
    div(style="width: 160px"): img(src="/images/ornc.jpg" width=160 height=160)
    .grow
      h3 Lunchtime Recital
      p.meta February 2016, Old Royal Naval Chapel, Greenwich
      p Selection of arias and duets with harp and piano as well as solo piano

  .row.event
    div(style="width: 160px"): img(src="/images/british-composer-awards.jpg" width=160 height=160)
    .grow
      h3 British Composer Awards
      p.meta December 2015
      p Solo Soprano in "A Bird is Singing" by Judith Bingham

  .row.event
    div(style="width: 160px"): img(src="/images/dartington.jpg" width=160 height=160)
    .grow
      h3 Dartington International Summer School
      p.meta Summer 2015
      p Week 2 - selected for the Vocal Masterclass with Emma Kirkby

  .row.event
    div(style="width: 160px"): img(src="/images/shrewsbury-shool.jpg" width=160 height=160)
    .grow
      h3 Le Nozze di Figaro, Mozart
      p.meta April 2015, Shrewsbury School
      p Susanna
      p staged with Shrewsbury School ensemble

  .row.event
    div(style="width: 160px"): img(src="/images/wigmore.jpg" width=160 height=160)
    .grow
      h3 Jauchzet Gott in allen Landen, Bach
      p.meta February 2015, Wigmore Hall
      p with Shrewsbury School String Orchestra

  .row.event
    div(style="width: 160px"): img(src="/images/shrewsbury-abbey.jpg" width=160 height=160)
    .grow
      h3 Messiah, Handel
      p.meta December 2014) - Shrewsbury Abbey
      p Solo Soprano
      p with Shrewsbury Concert orchestra and Shrewsbury Community Choir

  .row.event
    div(style="width: 160px"): img(src="/images/shrewsbury-shool.jpg" width=160 height=160)
    .grow
      h3 Missa Longa, Mozart
      p.meta November 2014, Shrewsbury School
      p Solo Soprano
      p with the Shrewsbury Community Choir and the Shrewsbury School Orchestra

  .row.event
    div(style="width: 160px"): img(src="/images/shrewsbury-shool.jpg" width=160 height=160)
    .grow
      h3 Vesperae Solennes, Mozart
      p.meta November 2013) - Shrewsbury School
      p Soprano Solo “Laudate Dominum”
      p with the Shrewsbury Community Choir and the Shrewsbury School Orchestra

  .row.event
    div(style="width: 160px"): img(src="/images/shrewsbury-chapel.jpg" width=160 height=160)
    .grow
      h3 Nulla in Mundo Pax sincera, Vivaldi
      p.meta 2013) - Shrewsbury School Chapel
      p Soprano

  .row.event
    div(style="width: 160px"): img(src="/images/x.jpg")
    .grow
      h3 Soprano Arias from Messiah, Handel
      p.meta December 2011) - Moers, Germany
      p with the Niederrheinisches Chamber Orchestra

  .row.event
    div(style="width: 160px"): img(src="/images/x.jpg")
    .grow
      h3 Bastien und Bastienne, Mozart
      p.meta 2011 – 2012) - Meerbusch, Germany
      p Bastienne

  .row.event
    div(style="width: 160px"): img(src="/images/x.jpg")
    .grow
      h3 Dido und Aeneas, Purcell
      p.meta 2011) - Krefeld, Germany
      p Sailor
      p with the Bach Ensemble Niederrhein, conducted by Uwe Schulze

  .row.event
    div(style="width: 160px"): mg(src="/images/duisburg.jpg" width=160 height=160)
    .grow
      h3 Cinderella, Peter Maxwell Davies
      p.meta 2011, Deutsche Oper am Rhein, Germany
      p Cinderella
      p with the Children’s Choir of the Deutsche Oper am Rhein
