extends _layout.pug

block vars
  - var title = 'Henrike Legner – Calendar'

block content

  h1 Calendar

  h2 Upcoming Events

  .event
    img(src="./images/montecastelli.jpg" width=80)
    h3 Bunter Konzertabend, Il Poggio Montecastelli
    p.meta 22. September 2024, 19:00

  .event
    img(src="./images/dingolfing.jpg" width=80)
    h3 CD Aufnahme mit Liedern von Mendelssohn
    p.meta 28. und 29. Oktober 2024
    p Mit Pianist Gerold Huber

  .event
    img(src="./images/henrike.jpg" width=80)
    h3 Nelsonmesse (Joseph Haydn) und Magnificat (John Rutter)
    p.meta 16. November 2024, 19:00 Uhr,  St. Michael, Ottobrunn#[br]17. November 2024, 17:00 Uhr,  St. Pius, Pöcking
    p Sopran Solo, mit ars musica chor Ottobrunn, Chorgemeinschaft Pöcking, Kammerorchester Stringendo

  .event
    img(src="./images/henrike.jpg" width=80)
    h3 Konzert des Philharmonischen Orchesters Isartal
    p.meta 5. April 2025, 19:30, Loisachhalle, 82515 Wolfratshausen, Deutschland
    p Mit Sopranistinnen Henrike Legner und Viktoria Matt, Dirigent Henri Bonamy

  //- .event
    img(src="./images/ettal.jpg" width=80)
    h3 “I could have danced all night” Music, moves and amore: Ein tänzerischer Abend von Liebe, Musik und Hüftschwung
    p.meta 12. August, 19:00 – 20:30, Kaiser-Ludwig-Platz 1, 82488 Ettal
    p Ein Konzert mit Henrike Legner im Rahmen des Klassik Sommerfestivals Ettal. Lieder, Arien, Duette und mehr von Mendelssohn, Mahler, Rossini, Bolcom, Bernstein und weiteren.

  //- .event
    img(src="./images/henrike.jpg" width=80)
    h3 Hänsel und Gretel (Singspielfassung von L. Andersen)
    p.meta 3. Oktober – Öffentliche GP, Erlöserkirche München#[br]7. Oktober, 18:00 – Konzert in der Jugendkirche München Haidhausen#[br]8. Oktober, 11:00 – Kinderkonzert#[br]8. Oktober, 18:00 – Konzert Herrsching Kulturkirche Breitbrunn
    p Hänsel: Julia Pfänder
    p Gretel: Henrike Legner
    p Hexe: Haozhou Hu
    p Taumännchen/Sandmännchen: Antonia Modes

  //- .event
    img(src="./images/theaterakademie.jpg" width=80)
    h3 ArienZeigen
    p.meta 16 April 2023, 3pm#[br]Gartensaal, Prinzregententheater, München

  //- .event
    img(src="./images/kunstlerhaus.jpg" width=80)
    h3 Stipendiatenkonzert
    p.meta 16 June 2023, 7pm#[br]Künstlerhaus München
    p Richard Wagner Verband München

  h2 Past Events

  .event
    img(src="./images/henrike.jpg" width=80)
    h3 Abschlusskonzert Master Musiktheater/Operngesang:#[br](Not) Getting Married Today
    p.meta 12. Juli 2024, 19:00 Uhr, Gartensaal, Prinzregententheater, München
    p Mit Pianist Nathan Harris. #[a(href="/projects#abschluss") Mehr Informationen…]

  .event
    img(src="./images/hmt.jpg" width=80)
    h3 Odeon Konzert: Classic meets Jazz
    p.meta 30. Juni 2024, 11:00 Uhr, Allerheiligen-Hofkirche München
    p Lieder von Paul Ben-Haim und Felix Mendelssohn mit dem Pianisten Gerold Huber. #[a(href="https://hmtm.de/veranstaltungen/odeon-konzert-classic-meets-jazz/" target="_blank") Mehr Informationen…]

  .event
    img(src="./images/xplore.jpg" width=80)
    h3 XPLORE Finale
    p.meta 17. Mai 2024, 19:00, Reaktorhalle München
    p Wettbewerb für neue Konzertformate. Das Konzertkonzept „MetrOstinato“ wurde als einer von drei Preisträgern für das Finale ausgewählt. #[a(href="/projects#metrostinato") Mehr Informationen…]

  .event
    img(src="./images/henrike.jpg" width=80)
    h3 Liedforum
    p.meta 28. April 2024, Großer Saal Arcisstrasse HMTM
    p Komposition von Gerold Huber

  .event
    img(src="./images/hmt.jpg" width=80)
    h3 Barocktage, Institutes historische Aufführungspraxis, HMTM
    p.meta 26. April 2024, 19:00, Großer Saal Arcisstrasse HMTM
    p Kantate von Agostino Steffani

  //- .event
    img(src="./images/lenbachplatz.jpg" width=80)
    h3 Meisterkurs mit Bassbariton Falk Struckmann
    p.meta 19. – 21. April 2024, 09:30 (jeweils ganztägig), Künstlerhaus am Lenbachplatz
    p Abschluss mit öffentlichem Konzert am Sonntag 21.04.24 um 15 Uhr

  .event
    img(src="./images/dingolfing.jpg" width=80)
    h3 Liederabend mit Gerold Huber
    p.meta 22. März 2024, Dingolfing
    p Mit Werken von Schubert, Mendelssohn und Strauss

  .event
    img(src="./images/strauss.jpg" width=80)
    h3 Liederabend des Förderkreises Richard-Strauss-Festspiele
    p.meta Freitag, 10. November 2023, 19:00 Uhr#[br]Richard-Strauss-Institut, Konzertsaal, Garmisch-Partenkirchen
    p Gerold Huber (Klavier), Henrike Legner (Sopran), Jonas Müller (Bariton)
    p Gilm-Lieder op. 10 (R. Strauss) und Werke von Zeitgenossen von R. Strauss
    p: a(href="https://www.richard-strauss-institut.de/de/veranstaltungen/detail/1014" target="_blank") Mehr Informationen…

  .event
    img(src="./images/prinzregent.jpg" width=80)
    h3 Achill unter den Mädchen: NEREA (Wolfgang Andreas Schultz)
    p.meta 17/3 (7.30pm), 18/3 (6pm), 21/3 (7.30pm), 23/3 (11am), 25/3 (7.30pm)#[br]Prinzregententheater, München
    p Mit dem Münchner Rundfunkorchester
    p Dirigent und Musikalische Leitung: Olivier Tardy
    p Regie und Inszenierung: Franziska Severin
    p Bühne und Kostüm: Jürgen Franz Körner

  .event
    img(src="./images/theaterakademie.jpg" width=80)
    h3 ArienZeigen
    p.meta 4 February 2023, 3pm#[br]Gartensaal Prinzregententheater

  .event
    img(src="./images/hmt.jpg" width=80)
    h3 GesangsART
    p.meta 23–26 January 2023, 7pm#[br]Großer Konzertsaal, Hochschule für Musik und Theater, München

  .event
    img(src="./images/nkm.jpg" width=80)
    h3 Exsultate Jubilate (Mozart)
    p.meta 11 December 2022, Moers
    p Mit dem Niederrheinischen Kammerorchester

  .event
    img(src="./images/hmt.jpg" width=80)
    h3 Konzert der Gesangsklasse von Christiane Iven
    p.meta 1 December 2022, 6pm#[br]Kleiner Konzertsaal, Hochschule für Musik und Theater, München
    p Viktoria Matt (Sopran), Verena Kronbichler (Mezzosopran), Maria van Hoof (Sopran), Laura Hemingway (Sopran), Henrike Legner (Sopran), Elmar Hauser (Countertenor), Heidi Baumgartner (Sopran), Laura Mayer (Mezzosopran), Julia Duscher (Sopran), Katja Maderer (Sopran), Elisabeth Freyhoff (Sopran)

  .event
    img(src="./images/giasone.jpg" width=80)
    h3 Il Giasone: SOLE/ALINDE (Francesco Cavalli)
    p.meta 24 – 30 October 2022, Reaktorhalle, München
    p Regie: Manuel Schmitt

  .event
    img(src="./images/montecastelli.jpg" width=80)
    h3 Serata di Canto: Ophélie Mad Scene (Thomas)
    p.meta 11 September 2022, Il poggio Montecastelli, Italy
    p Leitung: Christiane Iven

  .event
    img(src="./images/gansemagd.jpg" width=80)
    h3 Die Gänsemagd: KAMMERJUNGFRAU (Iris ter Schiphorst)
    p.meta 16 - 21 July 2022, Theaterakademie August Everding, München
    p Regie: Neil Barry Moss

  .event
    img(src="./images/henrike.jpg" width=80)
    h3 Liederabend
    p.meta 31 May 2022, München
    p Leitung: Gerold Huber
    p Lieder von Richard Schumann, Mahler und Grieg

  .event
    img(src="./images/ariodante.jpg" width=80)
    h3 Ariodante: GINEVRA (Händel)
    p.meta 21 – 23 April 2022#[br]Theaterakademie August Everding, München

  .event
    img(src="./images/henrike.jpg" width=80)
    h3 Gottesdienst Gesang & Harfe (Mozart und Schubert)
    p.meta 21 November 2021, 9:30am, Kreuzkirche Schwabing, München
    p Henrike Legner (Sopran) and Melis Çom (Harfe)
    p Schubert: Nachtstück, Meeres Stille, Ave Maria (Ellen’s Gesang)#[br]Mozart: Abendempfindung

  .event
    img(src="./images/hmt.jpg" width=80)
    h3 Konzert der Gesangsklasse von Christiane Iven und Sabine Lahm
    p.meta 24 November 2021, 6pm#[br]Kleiner Konzertsaal, Hochschule für Musik und Theater, München
    p Viktoria Matt (Sopran), Verena Kronbichler (Mezzosopran), Maria van Hoof (Sopran), Laura Hemingway (Sopran), Henrike Legner (Sopran), Elmar Hauser (Countertenor), Heidi Baumgartner (Sopran), Laura Mayer (Mezzosopran), Julia Duscher (Sopran), Katja Maderer (Sopran), Elisabeth Freyhoff (Sopran)

  .event
    img(src="./images/prinzregent.jpg" width=80)
    h3 Wiener Operettensoirée: Spiel ein Lied, das weint und lacht…
    p.meta 3 – 9 November 2021, Gartensaal Prinzregententheater, München
    p Theaterakademie August Everding
    p Szenische Einrichtung: Balázs Kovalik
    p Choreographie: Ramses Sigl
    p: a(href="https://www.theaterakademie.de/theater-erleben/stueckinfo/spiel-ein-lied-das-weint-und-lacht") More Details

  .event
    img(src="./images/henrike.jpg" width=80)
    h3 Missa Brevis in D Major (Mozart)
    p.meta 4 April 2021, Propsteikirche St. Peter, Recklinghausen
    p With musicians from the WDR Funkhausorchester

  .event
    img(src="./images/festival.jpg" width=80)
    h3 Festival Internazionale Bartolomeo Cristofori
    p.meta 12 September 2020, Palazzo Zuckermann, Padova
    p Lieder Recital Beethoven and more

  .event
    img(src="./images/brussels.jpg" width=80)
    h3 Udo Reinemann International Masterclass
    p.meta 30 November – 3 December 2019, La Monnaie, Brussels
    p With Valérie Guillorit and Malcolm Martineau
    p Repertoire: Debussy and Poulenc

  .event
    img(src="./images/brussels.jpg" width=80)
    h3 Udo Reinemann International Masterclass
    p.meta 7 – 10 November 2019, La Monnaie, Brussels
    p With Christianne Stotijn and Urszula Kryger
    p Repertoire: Moniuszko and Szymanowski

  .event
    img(src="./images/eppan2.jpg" width=80)
    h3 Eppaner Liedsommer
    p.meta 16 – 22 September 2019
    p Meisterkurs with KS Brigitte Fassbaender

  .event
    img(src="./images/schubertiade.jpg" width=80)
    h3 Schubertiade Schwarzenberg
    p.meta 26 – 30 August 2019
    p Meisterkurs with Edith Mathis

  .event
    img(src="./images/padova.jpg" width=80)
    h3 Graduation Recital
    p.meta 2 July 2019#[br]Auditorium, Conservatorio Pollini, Padova

  .event
    img(src="./images/padova.jpg" width=80)
    h3 Concerto di Primavera
    p.meta 7 April 2019, Chiesa di Santa Caterina, Padova
    p Selection of arias and Lieder, piano 4 hands
    p With Sofia Andreoli (Piano)

  .event
    img(src="./images/ettal.jpg" width=80)
    h3 Sommerakademie Klangakzente Kloster Ettal
    p.meta 26 August – 1 September 2018
    p Meisterkurs mit KS Prof. Christiane Iven

  .event
    img(src="./images/belcanto.jpg" width=80)
    h3 Scuola di Belcanto
    p.meta 5–25 August 2018, Urbania
    p With Matthew Rose, Joan Patenaude-Yarnell, David Syrus, Louisa Muller, Eric Mealer and Giulio Zappa

  .event
    img(src="./images/eppan.jpg" width=80)
    h3 Eppaner Lied Sommer
    p.meta 25 June – 2 July 2018, St. Michael, Eppan
    p Meisterkurs Oper & Lied with KS Angelika Kirchschlager

  .event
    img(src="./images/orpheus.jpg" width=80)
    h3 Orfeo e Euridice: CHORUS QUARTET (Gluck)
    p.meta 1 March – 8 March 2018, Firenze, Reschio, Monaco, Milan
    p New Generation Festival
    p Director: Edoardo Zucchetti
    p Conductor: Maximilian Fane

  .event
    img(src="./images/telemann.jpg" width=80)
    h3 Concerto Orchestra Camerata Accademica
    p.meta 12 Decemer 2017, Chiesa dei Servi, Padova
    p Christmas Oratorio (Bach)#[br]Magnificat (Telemann)#[br] Mottetto a tre voci, sue violini (H. Schutz)#[br]Cantana BWV 35 and 191 (Bach)
    p Paolo Faldi (Conductor), Henrike Legner (Soprano), Virginia Aghito (Contralto), Peter Gus (Tenor), Alberto Spadarotto and Nicola Rampazzo (Bass)

  .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Choral Works by Praetorius
    p.meta 15 October 2017
    p Bach Ensemble Niederrhein#[br]Conductor: Uwe Schulz

  //- .event
    img(src="./images/trinity.jpg" width=80)
    h3 Day in the Life of Trinity Laban
    p.meta 15 September 2017
    p Scene from Le Nozze di Figaro (SUSANNA)#[br]Director: Jennifer Hamilton

  //- .event
    img(src="./images/novafeltria.jpg" width=80)
    h3 La Lingua del Canto, Novafeltria
    p.meta 23–30 August 2017
    p With Maestro Ubaldo Fabbri and Linda Hirst

  .event
    img(src="./images/belcanto.jpg" width=80)
    h3 Scuola di Belcanto
    p.meta 15–29 July 2017, Urbania
    p With Matthew Rose, Joan Patenaude-Yarnell, David Syrus, Louisa Muller, Eric Mealer and Dario Maughelli

  .event
    img(src="./images/poppea.jpg" width=80)
    h3 L’Incoronazione di Poppea: DRUSILLA (Monteverdi)
    p.meta 5, 6, 7 and 8 July 2017, Blackheath Halls
    p Trinity Laban Opera#[br]Conductor: Nicholas Kraemer#[br]Director: Harry Fehr

  .event
    img(src="./images/eye.jpg" width=80)
    h3 Burgate Singers Spring Concert
    p.meta 13 May 2017, 7.30pm, Eye Town Hall
    p Nelson Mass (Josef Haydn)
    p Stabat Mater (Karol Szymanowski)
    p Alain Judd (Conductor), Henrike Legner (Soprano), Joanna Gable (Mezzo), Benjie del Rosario (Tenor), Alistair Bamford (Bass), Burgate Singers and Sinfonia

  .event
    img(src="./images/shrewsbury.jpg" width=80)
    h3 St John Passion: SOLO SOPRANO (Bach)
    p.meta 22 April 2017, Shrewsbury Abbey
    p Conductor: John Moore
    p Shrewsbury School Community Choir

  .event
    img(src="./images/eye.jpg" width=80)
    h3 Burgate Singers Christmas Concert
    p.meta 3 December 2016, Eye Town Hall
    p Gloria (Poulenc)
    p Exsultate jubilate (Mozart)
    p Vesperae solennes (Mozart)
    p Conductor: Alain Judd
    p Solo Soprano: Henrike Legner
    p Burgate Singers and Sinfonia

  .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Kathleen Ferrier Bursary for Young Singers – Finalist
    p.meta 30 October 2016, Blackburn
    p Accompanist: Ashley Beauchamp

  .event
    img(src="./images/trinity.jpg" width=80)
    h3 Lunchtime Recital
    p.meta 16 Ocotber 2016, Old Royal Naval Chapel, London
    p Selection of arias and solo piano

  .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Carmina Burana (Orff)
    p.meta 8 October 2016, Eltham Park Methodist Church
    p Eltham Choral Society
    p Conductor: Max Barley

  .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Summer Concert
    p.meta 26 and 27 August, Schloss Friedrichshafen, Germany
    p Concerto for two violins (Bach)#[br]Nulla in mundo pax sincera (Vivaldi)
    p Henrike Legner (Soprano and piano/harpsichord), Amelie von Württemberg (Violin), Laura Hampe, (Violin)

  //- .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 MusicFest Aberystwyth Summer School
    p.meta Summer 2016
    p One week summer course with tutors including Ron Morris, Gordon Stewart, Liza Hobbs, Veronica Veysey Campbell

  //- .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Masterclass with Ron Morris
    p.meta March 2016, Trinity Laban Conservatoire of Music and Dance

  //- .event
    img(src="./images/trinity.jpg" width=80)
    h3 Lunchtime Recital
    p.meta 7 February 2016, Old Royal Naval College Chapel, London
    p Selection of arias and duets with harp and piano as well as solo piano
    p Harp: Bethan Pezzarini
    p Soprano and Piano: Henrike Legner
    p Accompanist: Max Barley

  .event
    img(src="./images/trinity.jpg" width=80)
    h3 British Composer Awards
    p.meta 9 December 2015, British Film Institute, Southbank, London
    p A Bird is Singing (Judith Bingham)
    p Trinity Laban Chamber Choir
    p Solo Soprano: Henrike Legner
    p Conductor: Stephen Jackson

  .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Dartington International Summer School
    p.meta Summer 2015
    p Selected for the vocal masterclass with Emma Kirkby (week 2)

  .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Le Nozze di Figaro: SUSANNA (Mozart)
    p.meta 2 and 3 May 2015, Shrewsbury School
    p With the Shrewsbury School ensemble

  .event
    img(src="./images/wigmore.jpg" width=80)
    h3 Jauchzet Gott in allen Landen: SOLO SOPRANO (Bach)
    p.meta 26 February 2015, Wigmore Hall
    p Shrewsbury School String Orchestra

  .event
    img(src="./images/shrewsbury.jpg" width=80)
    h3 Messiah: SOLO SOPRANO (Handel)
    p.meta 23 December 2014, Shrewsbury Abbey
    p Shrewsbury Charity Concert Orchestra and Community Choir
    p Conductor: John Moore
    p Soprano: Henrike Legner
    p Mezzo: Alison Hudson
    p Tenor: Jamie MacDougall
    p Bass: Alexander Ashworth

  //- .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Missa Longa: SOLO SOPRANO (Mozart)
    p.meta November 2014, Shrewsbury School
    p Shrewsbury School Community Choir and Shrewsbury School Orchestra

  //- .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 The Salomon Quartet
    p.meta 5 October 2014, Maidment Auditorium, Shrewsbury School
    p Up in the morning early, Scottish Airs#[br]My mother bids me bind my hair, VI Original Canzonettas
    p Salomon String Quartet

  //- .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Vesperae Solennes: SOLO SOPRANO (Mozart)
    p.meta November 2013, Alington Hall, Shrewsbury School
    p Shrewsbury School Community Choir and Shrewsbury School Orchestra

  //- .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Soprano Arias from Messiah (Handel)
    p.meta December 2011, Moers, Germany
    p Roland Stuers, #[em Conductor]#[br]Niederrheinisches Chamber Orchestra

  //- .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Bastien und Bastienne: BASTIENNE (Mozart)
    p.meta 2011 – 2012, Meerbusch, Germany

  //- .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Dido und Aeneas: SAILOR (Purcell)
    p.meta 2011, Krefeld, Germany
    p Bach Ensemble Niederrhein#[br]Uwe Schulze, #[em Conductor]

  //- .event
    img(src="./images/henrike-old.jpg" width=80)
    h3 Cinderella: CINDERELLA (Peter Maxwell Davies)
    p.meta 2011, Deutsche Oper am Rhein, Düsseldorf
    p With the children’s choir of the Deutsche Oper am Rhein
