extends _layout.jade

block vars
  - var title = 'Henrike Legner • Recordings'

block content
  h1 Contact

  p(style="text-align: center") For enquiries, please email Henrike at #[a(href="mailto:henrike@legner.com") henrike@legner.com], or fill in the form below:

  form(action="https://mathigon.org/form?id=henrike" method="post")
    label Name
      input(type="text" name="name" required autocomplete="name")
    label E-mail
      input(type="email" name="email" required autocomplete="email")
    label Message
      textarea(name="text" rows="6" required)
    button(type="submit") Submit
