extends _layout.pug

block vars
  - var title = 'Henrike Legner – Kontakt'

block content
  h1 Kontakt

  p(style="text-align: center") Bei Anfragen bitte eine E-Mail an #[a(href="mailto:henrike@legner.com") henrike@legner.com] schicken, oder das folgende Formular ausfüllen:

  form(action="https://mathigon.org/form?id=henrike" method="post")
    label Name
      input(type="text" name="name" required autocomplete="name")
    label E-Mail Adresse
      input(type="email" name="email" required autocomplete="email")
    label Nachricht
      textarea(name="text" rows="6" required)
    button(type="submit") Abschicken
