extends _layout.jade

block vars
  - var title = 'Henrike Legner • Recordings'

block content
  h1 Gallery

  .row
    .grow: img(src="/gallery/munich-1.jpg")
    .grow: img(src="/gallery/munich-2.jpg")
    .grow: img(src="/gallery/green-3.jpg")
    .grow: img(src="/gallery/green-4.jpg")
    .grow: img(src="/gallery/dark-1.jpg")
    .grow: img(src="/gallery/dark-2.jpg")
    //- .grow: img(src="/gallery/green-1.jpg")
    //- .grow: img(src="/gallery/green-2.jpg")
    .grow(style="width: 660px"): img(src="/gallery/eye-1.jpg")
    .grow(style="width: 660px"): img(src="/gallery/laurea.jpg")
    .grow: img(src="/gallery/poppea-1.jpg")
    .grow: img(src="/gallery/poppea-2.jpg")
    .grow: img(src="/gallery/poppea-3.jpg")
    .grow: img(src="/gallery/poppea-4.jpg")
    .grow: img(src="/gallery/light-1.jpg")
    .grow: img(src="/gallery/light-2.jpg")
    .grow: img(src="/gallery/italy-1.jpg")
    .grow: img(src="/gallery/italy-2.jpg")
    .grow: img(src="/gallery/black-1.jpg")
    .grow: img(src="/gallery/black-2.jpg")
    .grow: img(src="/gallery/emma.jpg")
    .grow: img(src="/gallery/ballet.jpg")
    //- .grow: img(src="/gallery/harp.jpg")
    //- .grow: img(src="/gallery/ashley-1.jpg")
    //- .grow: img(src="/gallery/messiah-1.jpg")
    //- .grow: img(src="/gallery/bodensee.jpg")
