extends _layout.jade

block vars
  - var title = 'Henrike Legner • Recordings'

block content
  h1 Gallery

  .row
    .grow: img(src="/gallery/dark-1.jpg")
    .grow: img(src="/gallery/dark-2.jpg")
    .grow: img(src="/gallery/light-1.jpg")
    .grow: img(src="/gallery/light-2.jpg")
    .grow: img(src="/gallery/emma.jpg")
    .grow: img(src="/gallery/harp.jpg")
    .grow: img(src="/gallery/ashley-1.jpg")
    .grow: img(src="/gallery/ashley-2.jpg")
    .grow: img(src="/gallery/bodensee.jpg")
    .grow: img(src="/gallery/messiah-1.jpg")
    .grow: img(src="/gallery/figaro.jpg")
    .grow: img(src="/gallery/messiah-2.jpg")
    .grow: img(src="/gallery/ballet.jpg")
    .grow: img(src="/gallery/cinderella-1.jpg")
    .grow: img(src="/gallery/cinderella-2.jpg")
