extends _layout.jade

block vars
  - var title = 'Henrike Legner • Recordings'

block content
  h1 Gallery

  .row
    .grow
      img(src="/gallery/henrike1.jpg")

    .grow
      img(src="/gallery/henrike2.jpg")

    .grow
      img(src="/gallery/henrike3.jpg")

    .grow
      img(src="/gallery/ashley1.jpg")

    .grow
      img(src="/gallery/messiah2.jpg")

    .grow
      img(src="/gallery/harp.jpg")

    .grow
      img(src="/gallery/emma.jpg")

    .grow
      img(src="/gallery/ashley2.jpg")

    .grow
      img(src="/gallery/bodensee.jpg")

    .grow
      img(src="/gallery/messiah1.jpg")

    .grow
      img(src="/gallery/ballet1.jpg")

    .grow
      img(src="/gallery/ballet2.jpg")

    .grow
      img(src="/gallery/opera1.jpg")

    .grow
      img(src="/gallery/opera2.jpg")
