extends _layout.pug

block vars
  - var title = 'Henrike Legner – Galerie'
  - var mainClass = 'wide'

block content
  h1 Galerie

  .tabs
    a.active(href="#allgemein") Allgemein
    a(href="#lied") Lied
    a(href="#konzert") Konzert
    a(href="#oper") Oper

  style .row div { width: 408px; align-self: center; }

  .tab.active#allgemein
    .row
      for img in ['cd-1', 'cd-2', 'cd-3', 'ascona', 'shoot-1', 'shoot-2', 'shoot-3']
        div: img(src=`./gallery1/${img}.jpg` width=408)

  .tab#lied
    .row
      for img in ['launch-1', 'launch-2', 'launch-3', 'launch-4', 'london', 'james']
        div: img(src=`./gallery1/${img}.jpg` width=408)

  .tab#konzert
    .row
      for img in ['isartal-1', 'isartal-2', 'gretel','konzert-2', 'konzert-1']
        div: img(src=`./gallery1/${img}.jpg` width=408)

  .tab#oper
    .row
      for img in ['ariodante-1', 'ariodante-2', 'gans-1', 'gans-3', 'gans-4', 'gans-6', 'gans-2', 'gans-5']
        div: img(src=`./gallery1/${img}.jpg` width=408)
