extends _layout.jade

block vars
  - var isHome = true
  - var title = 'Henrike Legner • Soprano'

block content

  style.
    html {width: 100%; height: 100%; background-image: url(/images/henrike1.jpg); }
    header { background: transparent; }

  p.quote
    | “Henrike Legner ist mit ihren Koloraturen eine Verheißung fürs Barockfach”
    a.small(href="https://www.sueddeutsche.de/muenchen/bayerische-theaterakademie-musikhochschule-muenchen-haendel-ariodante-kritik-1.5570915" target="_blank") Süddeutsche Zeitung
