extends _layout.pug

block vars
  - var title = 'Henrike Legner – MetrOstinato'

block content
  h1 MetrOstinato
  a(href="/metrostinato" title="English Version" class="flag"): img(src="./images/gb.png" alt="" width=36 height=36)
  :markdown-it
    **MetrOstinato**, ein Project von Henrike Legner und [Ophelia Flassig](https://opheliaflassig.de/metrostinato/), verbindet als mobiles Format ästhetische Momente an Spielorten des Alltags mit einer szenischen Aufführung an einem etablierten Kulturort.

    Es ist ein Finalist im von der HMTM ausgeschriebenen **XPLORE Wettbewerb** für neue Konzertformate. Die ausgewählten Studierenden erhielten ein Produktionsbudget in Höhe von 3000 Euro, um damit ihr Projekt im Rahmen eines öffentlichen Finales am 17. Mai 2024 umzusetzen.

  p: img(src="./images/metrostinato.jpg" width=600 height=380 style="margin: 0 auto;")

  :markdown-it
    Im ersten Teil werden am **07. April** barocke Instrumente und alte Musik aus ihrem üblichen Konzertkontext herausgelöst und für die Stadtbevölkerung erfahrbar gemacht. An den U-Bahnhöfen der U3 zwischen Fürstenried West und der Brudermühlstraße wird simultan eine historische Chaconne von Henry Purcell, The Fairy-Queen (1692), aufgeführt und durch das Vorbeifahren als Musikalische Safari erlebbar zusammengesetzt.

    Im zweiten Teil wird am **17. Mai** die Klangwelt der U-Bahn (*Metro*) in Ton und Bild zurückgespiegelt und im Konzertraum der Reaktorhalle (Luisenstraße 37a 80333 München) in einen musikalischen Dialog gesetzt, der Vergangenheit und Gegenwart verbindet.

    Mehr Informationen:

  iframe(src="https://hmtm.de/xplore-wettbewerb-finalistinnen-stehen-fest/embed/#?secret=fSPYzMXdld#?secret=hDU9DHSbMw" sandbox="allow-scripts" width="600" height="795" frameborder="0" style="display:block;margin:0 auto;max-width:100%;border-radius:6px")
