extends _layout.pug

block vars
  - var title = 'Henrike Legner – MetrOstinato'

block content
  h1 MetrOstinato
  a(href="/projects" title="German Version" class="flag"): img(src="./images/de.png" alt="" width=36 height=36)

  :markdown-it
    **MetrOstinato**, a Project by Henrike Legner and [Ophelia Flassig](https://opheliaflassig.de/metrostinato/), combines aesthetic moments in everyday live with a scenic performance at an established cultural location.

    It is a finalist in the HMTM's **XPLORE competition** for new concert formats. The selected students received a production budget of €3,000 to implement and perform their idea at a public final on 17 May 2024.

  p: img(src="./images/metro-1.jpg" width=600 height=320 style="margin: 0 auto;")

  :markdown-it
    In the first part, on **7 April**, baroque instruments and early music will be removed from their usual concert context and made tangible for the city population. At the U3 subway stations between Fürstenried West and Brudermühlstrasse, a historical Chaconne by Henry Purcell, The Fairy-Queen (1692), is being performed simultaneously and can be experienced as a musical safari as you drive past.

    In the second part, on **17 May**, the sound world of the subway (metro) was in sound and images and set in a musical dialogue in the concert hall of the Reaktorhalle (Luisenstraße 37a 80333 Munich) that connects past and present.

  .row: .grow: .video-container
    iframe(src="https://www.youtube.com/embed/gAWHZtsGXoU", frameborder="0", allowfullscreen)

  .row
    for img in [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
      .grow: img(src=`./images/metro-${img}.jpg`)

  p #[br]#[em Photos by Jakob Schad]
