extends _layout.jade

block vars
  - var title = 'Henrike Legner • Recordings'

block content

  h1 Recordings

  //- .video-container
    iframe(src="https://www.youtube.com/embed/fFCSF3b-8ns", frameborder="0", allowfullscreen)
  //- p(style="margin-bottom: 24px") #[strong Tornami a vagheggiar (Alcina)]#[br]George Frideric Handel#[br]September 2018

  .row
    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/l3lAjgXXLrE", frameborder="0", allowfullscreen)
      p #[strong Nun beut die Flur (Die Schöpfung)]#[br]Joseph Haydn#[br]June 2019

    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/xbpDeIzA9fs", frameborder="0", allowfullscreen)
      p #[strong Da tempeste il legno infranto]#[br]George Frideric Handel#[br]June 2019

    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/O-zJqaRlsGI", frameborder="0", allowfullscreen)
      p #[strong La Regata Veneziana]#[br]Gioachino Rossini#[br]June 2019

    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/RMyLtCYox50", frameborder="0", allowfullscreen)
      p #[strong Da tempeste il legno infranto – Dance]#[br]George Frideric Handel#[br]June 2019

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/1-vwacwvqMc", frameborder="0", allowfullscreen)
      p #[strong Brilla nell'alma]#[br]George Frideric Handel#[br]January 20182016

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/QxBs9sKDU_s", frameborder="0", allowfullscreen)
      p #[strong Batti, batti, o bel Masetto]#[br]Wolfgang Amadeus Mozart#[br]January 2018

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/AQ8N8Vq641I", frameborder="0", allowfullscreen)
      p #[strong Una donna a quindici anni]#[br]Wolfgang Amadeus Mozart#[br]January 2018

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/yLh8yoH4oq0", frameborder="0", allowfullscreen)
      p #[strong Im Frühling]#[br]Franz Schubert#[br]January 2018

    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/WZCX_mIaVwg", frameborder="0", allowfullscreen)
      p #[strong Exsultate, Jubilate]#[br]Wolfgang Amadeus Mozart#[br]Burgate Sinfonia, conducted by Alain Judd#[br]December 2016
    
    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/rTe93QJHsu8", frameborder="0", allowfullscreen)
      p #[strong Laudate Dominum (Vesperae Solennes)]#[br]Wolfgang Amadeus Mozart#[br]Burgate Singers and Sinfonia, conducted by Alain Judd#[br]December 2016

    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/WyJ3R0CS2fc", frameborder="0", allowfullscreen)
      p #[strong Nulla in Mundo Pax Sincera]#[br]Antonio Vivaldi#[br]October 2013

    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/GpvJR9mE3xQ", frameborder="0", allowfullscreen)
      p #[strong Rondo Capriccioso, op 14]#[br]Felix Mendelssohn#[br]October 2016
