extends _layout.pug

block vars
  - var title = 'Henrike Legner – Recordings'

block content
  h1 Recordings

  .row
    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/-bPbh7Mo__I", frameborder="0", allowfullscreen)
      p(style="margin-bottom: 24px") #[strong Una donna a quindici anni] (Despina, Così fan tutte), Mozart#[br]#[em Live recording AVO 2024, Theaterakademie August Everding, Pianist Nathan Harris]

  .row
    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/aaUvIMTPDpw", frameborder="0", allowfullscreen)
      p(style="margin-bottom: 24px") #[strong Guitare], WD 79, Bizet#[br]#[em Live recording of the final rehearsal for the Klassik Sommerfestival Ettal, August 2023]
      //- #[em Henrike Legner (soprano), Hiroko Utsumi (piano)]#[br]

    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/FpyJgWBngto", frameborder="0", allowfullscreen)
      p(style="margin-bottom: 24px") #[strong Auf Flügeln des Gesanges], Mendelssohn
      //- #[br]#[em Henrike Legner (soprano), XXX (piano)]

    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/0zySw0TLH4Y", frameborder="0", allowfullscreen)
      p(style="margin-bottom: 24px") #[strong Toothbrush time], Cabaret songs, W Bolcom
      //- #[br]#[em Henrike Legner (soprano), XXX (piano)]

    .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/GY4A4iMOMqE", frameborder="0", allowfullscreen)
      p(style="margin-bottom: 24px") #[strong Air de la Folie], Rameau#[br]#[em Live recording GesangsArt]
      //- #[em Henrike Legner (soprano), XXX (piano)]

  //- .row
    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/fFCSF3b-8ns", frameborder="0", allowfullscreen)
      p(style="margin-bottom: 24px") #[strong Tornami a vagheggiar (Alcina)]#[br]George Frideric Handel#[br]September 2018

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/xf6nC2351aE", frameborder="0", allowfullscreen)
      p #[strong Chacun le sait – Marie]#[br]La Fille du régiment#[br]Gaetano Donizetti#[br]May 2022

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/oNsZNhhVikE", frameborder="0", allowfullscreen)
      p #[strong Exsultate jubilate]#[br]Wolfgang Amadeus Mozart#[br]January 2021

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/2KndOvMfSiU", frameborder="0", allowfullscreen)
      p #[strong Da tempeste il legno infranto (Giulio Cesare)]#[br]George Frideric Handel#[br]May 2020

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/ttpq4mKg6QM", frameborder="0", allowfullscreen)
      p #[strong Deh vieni non tardar (Le Nozze di Figaro, Susanna)]#[br]Wolfgang Amadeus Mozart#[br]May 2020

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/i7biIWiPP2Q", frameborder="0", allowfullscreen)
      p #[strong Da tempeste il legno infranto (Giulio Cesare)]#[br]George Frideric Handel#[br]May 2020

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/Qvai_3qIPoQ", frameborder="0", allowfullscreen)
      p #[strong O sleep, why dost thou leave me]#[br]George Frideric Handel#[br]April 2020

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/2KndOvMfSiU", frameborder="0", allowfullscreen)
      p #[strong Da tempeste il legno infranto (Giulio Cesare)]#[br]George Frideric Handel#[br]May 2020

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/I0xtgk6WYo0", frameborder="0", allowfullscreen)
      p #[strong As when the dove laments her love (Acis and Galatea)]#[br]George Frideric Handel#[br]June 2020

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/30b4kmRu3EE", frameborder="0", allowfullscreen)
      p #[strong Der Hirt auf dem Felsen]#[br]Franz Schubert#[br]May 2020

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/1SLLF6RdVVU", frameborder="0", allowfullscreen)
      p #[strong Nun beut die Flur (Die Schöpfung)]#[br]Joseph Haydn#[br]June 2019

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/IXYtNkSrGc4", frameborder="0", allowfullscreen)
      p #[strong La Regata Veneziana]#[br]Gioachino Rossini#[br]June 2019

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/RMyLtCYox50", frameborder="0", allowfullscreen)
      p #[strong Da tempeste il legno infranto (Giulio Cesare) – Dance]#[br]George Frideric Handel#[br]June 2019

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/t9v9qDMLp7I", frameborder="0", allowfullscreen)
      p #[strong Exsultate, Jubilate]#[br]Wolfgang Amadeus Mozart#[br]Burgate Sinfonia, conducted by Alain Judd#[br]December 2016

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/ygxF4d7vD40", frameborder="0", allowfullscreen)
      p #[strong Laudate Dominum (Vesperae Solennes)]#[br]Wolfgang Amadeus Mozart#[br]Burgate Singers and Sinfonia, conducted by Alain Judd#[br]December 2016

    //- .grow
      .video-container
        iframe(src="https://www.youtube.com/embed/WyJ3R0CS2fc", frameborder="0", allowfullscreen)
      p #[strong Nulla in Mundo Pax Sincera]#[br]Antonio Vivaldi#[br]October 2013

    //- .grow(style="max-width:448px")
      .video-container
        iframe(src="https://www.youtube.com/embed/CHTo5rvn3Sw", frameborder="0", allowfullscreen)
      p #[strong Rondo Capriccioso, op 14]#[br]Felix Mendelssohn#[br]October 2016
