extends _layout.pug

block vars
  - var title = 'Henrike Legner – Repertoire'

block content
  h1 Repertoire

  h2 Konzert
  .columns
    p
      strong Johann Sebastian Bach#[br]
      | Johannespassion#[br]
      | Matthäuspassion#[br]
      | Weihnachtsoratorium#[br]
      | Jauchzet Gott in allen Landen#[br]
      | Kaffeekantate#[br]
      | Hochzeitskantate
    p
      strong Wolfgang Amadeus Mozart#[br]
      | Exsultate jubilate#[br]
      | Vesperae Solennes#[br]
      | Missa longa#[br]
      | Missa brevis#[br]
      | Krönungsmesse#[br]
      | Diverse Konzertarien
    p
      strong Georg Friedrich Händel#[br]
      | Messiah#[br]
      | Gloria
    p
      strong Joseph Haydn#[br]
      | Schöpfung#[br]
      | Nelson Messe
    p
      strong G.B. Pergolesi#[br]
      | Stabat Mater
    p
      strong Camille Saint-Saëns#[br]
      | Oratorio de Noël
    p
      strong John Rutter#[br]
      | Magnificat für Sopran, Chor und Orchester
    p
      strong Franz Schubert#[br]
      | Hirte auf dem Felsen
    p
      strong Antonio Vivaldi#[br]
      | Nulla in mundo pax sincera

  h2 Lied
  p Beethoven, Brahms, Bizet, Bolcom, Irving Berlin, Britten, Debussy, Fauré, Mozart, Mendelssohn, Poulenc, Rossini, Robert und Clara Schumann, Richard Strauss, Jeanine Tesori/Dick Scanlan, Walton, Wolf, Vivier

  h2 Oper
  .columns
    p #[strong Gretel, Taumännchen, Sandmännchen]#[br]Hänsel und Gretel (Humperdinck)
    p #[strong Nerea]#[br]Achill unter den Mädchen (Wolfgang-Andreas Schultz)
    p #[strong Kammerjungfrau]#[br]Die Gänsemagd (Iris ter Shiphorst)
    p #[strong Ginevra]#[br]Ariodante (Handel)
    p #[strong Sole, Alinda]#[br]Giasone (Cavalli)
    p #[strong Drusilla]#[br]L’Incoronazione di Poppea (Monteverdi)
    p #[strong Susanna]#[br]Le Nozze di Figaro (Mozart, English)
    p #[strong Cinderella]#[br]Cinderella (Peter Maxwell Davies)
    p #[strong Morgana]#[br]Alcina (Handel) *
    p #[strong Semele]#[br]Semele (Handel) *
    p #[strong Cleopatra]#[br]Giulio Cesare (Handel) *
    p #[strong Despina]#[br]Così fan tutte (Mozart) *
    p #[strong Zerlina]#[br]Don Giovanni (Mozart) *
    p #[strong Ismene, Aspasia]#[br]Mitridate, re di Ponto (Mozart) *
    p #[strong Norina]#[br]Don Pasquale (Donizetti) *
  p: em * Roles partly or fully studied (not performed)
