extends _layout.pug

block vars
  - var title = 'Henrike Legner – Repertoire'

block content
  h1 Repertoire

  h2 Opera
  .columns
    p #[strong NEREA]#[br]Achill unter den Mädchen (Schultz)
    p #[strong KAMMERJUNGFRAU]#[br]Die Gänsemagd (Iris ter Shiphorst)
    p #[strong GINEVRA]#[br]Ariodante (Handel)
    p #[strong SOLE, ALINDA]#[br]Giasone (Cavalli)
    p #[strong DRUSILLA]#[br]L’Incoronazione di Poppea (Monteverdi)
    p #[strong SUSANNA]#[br]Le Nozze di Figaro (Mozart, English)
    p #[strong CINDERELLA]#[br]Cinderella (Peter Maxwell Davies)
    p #[strong MORGANA]#[br]Alcina (Handel) *
    p #[strong SEMELE]#[br]Semele (Handel) *
    p #[strong ISMENE, ASPASIA]#[br]Mitridate, re di Ponto (Mozart) *
    p #[strong GRETEL, TAUMÄNNCHEN]#[br]Hänsel und Gretel (Humperdinck) *
    p #[strong NORINA]#[br]Don Pasquale (Donizetti) *
    p #[strong DESPINA]#[br]Così fan tutte (Mozart) *
    p #[strong ZERLINA]#[br]Don Giovanni (Mozart) *
  p: em * Roles partly or fully studied (not performed)

  h2 Selected Arias
  .columns
    p #[strong Mad Scene Ophélie]#[br]Hamlet (Thomas)
    p #[strong Arriere! Je réchauffe le bons, Le Feu]#[br]L’Enfant et sortilèges (Ravel)
    p #[strong Volta la terrea, Oscar]#[br]Un ballo in maschera (Verdi)

  h2 Selected Concert Repertoire
  .columns
    p
      strong Johann Sebastian Bach#[br]
      | Johannespassion#[br]
      | Jauchzet Gott in allen Landen#[br]
      | Kaffeekantate
    p
      strong Wolfgang Amadeus Mozart#[br]
      | Exsultate jubilate#[br]
      | Vesperae Solennes#[br]
      | Missa longa#[br]
      | Laudate dominum#[br]
      | Missa brevis
    p
      strong Georg Friedrich Händel#[br]
      | Messiah#[br]
      | Gloria
    p
      strong Joseph Haydn#[br]
      | Schöpfung *#[br]
      | Nelson Messe

  h2 Lied
  p Selected songs by #[strong Schubert], #[strong Mendelssohn], #[strong Beethoven], Robert and Clara #[strong Schumann], #[strong Brahms], #[strong Mozart], #[strong Strauss], #[strong Bizet], #[strong Fauré], #[strong Debussy], #[strong Poulenc] and #[strong Rossini]

